$c-black-100: #888888;
$c-black-200: #444444;
$c-black-300: #222222;

$c-grey-50: #f8f8f8;
$c-grey-100: #efefef;
$c-grey-200: #c2c1c1;
$c-grey-300: #999999;

$c-blue-50: #bfd6ff;
$c-blue-100: #88bfff;
$c-blue-200: #70a2ff;
$c-blue-300: #0059ff;
