@import "/src/app/styles/colors";

.icon-button {
  border-radius: 4px;
  border: none;
  background: transparent;
  padding: 2px;
  color: black;
  display: flex;
  align-items: center;

  &:hover {
    background: $grey-200;
  }
  &:active {
    outline: 1px solid $grey-300;
  }
}
