@import "/src/app/styles/colors";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.meal-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.ingredient {
  flex-grow: 1;
  padding: 4px 8px;
  border-radius: 4px;

  &:hover {
    background-color: white;
  }
}

.delete-meal-btn {
  margin-left: 8px;
  cursor: pointer;
}
