<div class="selected-plan">
  <h3>Selected Plan:</h3>
  <mat-form-field appearance="standard">
    <mat-select [value]="currentPlan" (valueChange)="onChangePlan($event)" required>
      <mat-option [value]="availablePlans['yuliia']">Юля</mat-option>
      <mat-option [value]="availablePlans['sasha']">Саша</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="selected-ingredients">
  <h3>Selected Ingredients:</h3>
  <app-meal-planner
    [selectedIngredients]="(selectedIngredients$ | async)!"
    (ingredientRemoved)="onRemoveIngredient($event)"
  ></app-meal-planner>
</div>

<h3>Available Ingredients:</h3>

<app-available-ingredients
  [selectedPlan]="currentPlan"
></app-available-ingredients>
