
:host {
  display: block;
  padding: 16px 0;
}

.selected-plan {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  h3 {
    white-space: nowrap;
    margin: 0 1em 0 0;
  }
}

.selected-ingredients {
  position: sticky;
  top: -48px;
  background: white;
  padding: 16px 0;
  margin-bottom: 16px;
}

