:host {
  display: flex;
  flex-wrap: wrap;
}

.set-item {
  display: flex;
  align-items: center;

  &::after {
    content: "/";
    display: inline-block;
    margin: 0 0.5em;

    &:last-child {
      display: none;
      content: none;
    }
  }
}
