:host {
  display: flex;
  flex-wrap: wrap;
}

.label {
  font-weight: bold;
  margin-right: 1em;
}

.set-item {
  display: flex;
  align-items: center;

  &::after {
    content: "/";
    display: inline-block;
    margin: 0 0.5em;

    &:last-child {
      display: none;
      content: none;
    }
  }
}
