@import "/src/app/styles/colors";

:host {
  display: flex;
}

.label {
  font-weight: bold;
  padding: 3px 1em 1em 0;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
}

.ingredient {
  display: flex;
  align-items: center;
  background-color: $c-blue-100;
  border-radius: 25px;
  padding: 8px 16px;
  margin: 0 4px 4px 0;
  font-size: 16px;
}

@media (max-width: 450px) {
  :host {
    flex-direction: column;
  }
}
