<ng-container *ngIf="selectedIngredients?.length; else noSelected">
  <app-meal
    class="selected-ingredients"
    [ingredients]="selectedIngredients"
    (ingredientRemoved)="onRemoveIngredient($event)"
  ></app-meal>
  <button mat-stroked-button (click)="onSave()" class="storage-button">Save</button>
</ng-container>

<ng-template #noSelected>
  <span class="message"> No selected ingredients </span>
  <button mat-stroked-button (click)="onLoad()" class="storage-button">Load</button>
</ng-template>
