<h3>Add {{ data.ingredient.name }}</h3>
<mat-divider></mat-divider>

<div class="form" [formGroup]="form">
  <mat-form-field>
    <mat-label>weight:</mat-label>
    <input
      [value]="data.ingredient.weight"
      formControlName="weight"
      matInput
      placeholder="Enter desired weight"
      type="number"
      [step]="inputStep"
    />
    <span matTextSuffix>g</span>
    <mat-error *ngIf="form.get('weight')?.errors">{{
      getErrorMessage(c("weight"))
    }}</mat-error>
  </mat-form-field>

  <mat-slider
    [min]="0"
    [max]="data.ingredient.weight"
    [step]="inputStep"
    #ngSlider
    ><input
      matSliderThumb
      [value]="data.ingredient.weight"
      (valueChange)="onSliderChange($event)"
      #ngSliderThumb="matSliderThumb"
  /></mat-slider>
</div>

<button
  (click)="onConfirm()"
  [disabled]="form.invalid"
  mat-raised-button
  color="primary"
  class="confirm-button"
>
  Add: {{ data.ingredient.name }} ({{ c("weight").value }}g)
</button>
