:host {
  display: block;
  min-width: 210px;
}

.form {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
}

.weight-field {
  width: 3em;
}

.confirm-button {
  display: block;
  margin: 0 auto;
  min-width: 172px;
}
